@import "tailwindcss";

.cell1, .cell2, .klikattu, .pommi {
    width: clamp(2em, 4vh, 4em);
    height: clamp(2em, 4vh, 4em);
    border-style: outset;
    border-color: black;
    border-width: 2.5px;
    margin: 1px;
    text-align: center;
}

.cell1 {
    background-color: #00a63e;
}

.cell2 {
    background-color: #00c950;
}

.cell1:hover, .cell2:hover {
    background-color: orange;
    cursor: pointer;
}

.pommi {
    background-color: red;
}

.klikattu {
    background-color: #9a98a1;
}

.cellNumber {
    font-weight: bolder;
    font-size: larger;
    text-shadow: 0 0 1px black;
}

button:hover {
    background-color: orange;
    cursor: pointer;
}