@import "tailwindcss";

.cell1, .cell2, .klikattu, .pommi {
    width: clamp(2em, 4vh, 4em);
    height: clamp(2em, 4vh, 4em);
    border-style: outset;
    border-color: black;
    border-width: 2.5px;
    margin: 1px;
    text-align: center;
}

.cell1 {
    background-color: #00a63e;
}

.cell2 {
    background-color: #00c950;
}

.cell1:hover, .cell2:hover {
    background-color: orange;
    cursor: pointer;
}

.pommi {
    background-color: red;
}

.klikattu {
    background-color: #8e8c97;
}

.cellNumber {
    color: white;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

button:hover {
    background-color: orange;
    cursor: pointer;
}